In [1]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2021-12-31 18:48:57

In [3]:
fname = input("Input your first name : ")
lname = input("Input your last name : ")
print ( lname + " " + fname )

Input your first name : Sadia
Input your last name : Rafiq
Rafiq Sadia

In [4]:
fn = input("first name : ")
ln = input("last name : ")
print (lname + " " + fname) [::-1]

first name : sadia
last name : rafiq
Rafiq Sadia

TypeError: 'NoneType' object is not subscriptable

In [5]:
fn = input("f name : ") [::-1]
ln = input("l name : ") [::-1]
print (ln + " " + fn)

f name : sadia
l name : rafiq
qifar aidas

In [6]:
num1 = input("Enter First number  : ")
num2 = input("Enter Second number : ")
add = num1 + num2
print(add)

Enter First number  : 5
Enter Second number : 6
56

In [7]:
n1 = input("Enter 1st no : ")
n2 = input("Enter 2nd no : ")
add = n1+n2;
print(add)

Enter 1st no : 6
Enter 2nd no : 6
66

In [ ]:
num1 = int(input("Enter 1st num : "))
num2 = int(input("Enter 2nd num : "))
add = num1 + num1;
print("Sum : ", add)

In [ ]:
num1 = int(input("Enter 1st num : "))
num2 = int(input("Enter 2nd num : "))
add = num1 + num2;
print("Sum : ", add)

In [ ]:
from math import pi
r = float(input("Input radius of a circle : "))
print ("The area of a circle with radius " + str(r) + "is : " + str(pi * r**2))

In [1]:
a = ((12-4)/(2+9)*5);
print(a);

3.6363636363636367

In [2]:
print('            '"Twinkle, twinkle, little star,\n" 
      '                      '"How I wonder what you are!\n"
      '                               '"Up above the what so high,\n"
      '                               '"Like a diamond in the sky.\n"
      '            '"Twinkle, twinkle, little star,\n"                         
      '            '"How I wonder what you are!" )

            Twinkle, twinkle, little star,
                      How I wonder what you are!
                               Up above the what so high,
                               Like a diamond in the sky.
            Twinkle, twinkle, little star,
            How I wonder what you are!